    <section> 
      <div class="rev_slider_wrapper">
        <div class="rev_slider" id="slider2" data-version="5.0">
          <ul>
            <!-- SLIDE 1 -->
            <li 
              data-fstransition="fade"
              data-transition="fade"
              data-easein="default" 
                data-easeout="default"
              data-slotamount="default"
              data-saveperformance="off"
              data-masterspeed="1000"
              data-delay="8000"
              data-title="The Art of Design">
              <!-- MAIN IMAGE -->
              <img src="img/revolution/image1.jpg"
                alt=""
                data-bgrepeat="no-repeat"
                data-bgfit="cover"
                class="rev-slidebg"
                >

              <!-- LAYER NR. 1 -->
              <div class="tp-caption hero-text giant_nocaps"
                data-x="center"
                data-y="center"
                data-transform_idle="o:1;s:1500;"
                data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.1;sY:0.1;skX:0;skY:0;opacity:0;s:1000;e:Power3.easeOut;" 
                data-transform_out="opacity:0;sX:0;sY:0;s:1200;e:Power3.easeInOut;"
                data-start="1000"
                data-splitout="none">Nicholas FooBar
              </div>
              
              <!-- LAYER NR. 2 -->
              <div class="tp-caption subheading_text"
                data-x="center"
                data-y="center"
                data-voffset="84"
                data-transform_idle="o:1;s:1500;"
                data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0;sY:0;skX:0;skY:0;opacity:0;s:1000;e:Power3.easeOut;" 
                data-transform_out="opacity:0;sX:0;sY:0;s:1200;e:Power3.easeInOut;"
                data-start="1000">Software Engineer
              </div>
        
            </li> <!-- end slide 1 -->

            <!-- SLIDE 2 -->
            <li data-transition="fade"
              data-slotamount="1"
              data-masterspeed="1000"
              data-delay="8000"
              data-title="Creative &amp; Emotional">
              <!-- MAIN IMAGE -->
              <img src="img/revolution/banner-4.jpg"
                alt=""
                data-bgrepeat="no-repeat"
                data-bgfit="cover"
                class="rev-slidebg"
                >

              <!-- LAYER NR. 1 -->
              <div class="tp-caption hero-text large_white"
                data-x="center"
                data-y="center"
                data-voffset="-50"
                data-transform_idle="o:1;s:1500;"
                data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0;sY:0;skX:0;skY:0;opacity:0;s:1000;e:Power3.easeOut;" 
                data-transform_out="opacity:0;sX:0;sY:0;s:1200;e:Power3.easeInOut;"
                data-start="1000">ES6, Typescript, Node.js,
              </div>

              <!-- LAYER NR. 2 -->
              <div class="tp-caption hero-text large_white"
                data-x="center"
                data-y="center"
                data-voffset="15"
                data-transform_idle="o:1;s:1500;"
                data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0;sY:0;skX:0;skY:0;opacity:0;s:1000;e:Power3.easeOut;" 
                data-transform_out="opacity:0;sX:0;sY:0;s:1200;e:Power3.easeInOut;"
                data-start="1000">PHP, HTML5, CSS
              </div>

              <!-- LAYER NR. 3 -->
              <div class="tp-caption tp-resizeme"
                data-x="center"
                data-y="center"
                data-hoffset="0"
                data-voffset="105" 
                data-transform_idle="o:1;s:1500;"
                data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0;sY:0;skX:0;skY:0;opacity:0;s:1000;e:Power3.easeOut;" 
                data-transform_out="opacity:0;sX:0;sY:0;s:1200;e:Power3.easeInOut;"
                data-start="1000"
                style="z-index: 12; max-width: auto; max-height: auto; white-space: nowrap;"><a href='/contact' class='btn btn-lg btn-transparent'>Contact</a>
              </div>  
        
            </li> <!-- end slide 2 -->

            <!-- SLIDE 3 -->
            <li data-transition="fade"
              data-slotamount="1"
              data-masterspeed="1000"
              data-delay="8000"
              data-title="Amazing Agency">
              <!-- MAIN IMAGE -->
              <img src="img/revolution/image3.jpg"
                alt=""
                data-bgrepeat="no-repeat"
                data-bgfit="cover"
                class="rev-slidebg"
                >

              <!-- LAYER NR. 1 -->
              <div class="tp-caption hero-text medium"
                data-x="30"
                data-y="center"
                data-voffset="-90"
                data-transform_idle="o:1;s:1000"
                data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;s:1000;"
                data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;"
                data-start="1000">Design & Development
              </div>

              <!-- LAYER NR. 3 -->
              <div class="tp-caption small_text"
                data-x="30"
                data-y="center"
                data-voffset="-30"
                data-transform_idle="o:1;s:900"
                data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;s:1000;"
                data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;"
                data-start="1100">Games Development
              </div>

              <!-- LAYER NR. 4 -->
              <div class="tp-caption small_text"
                data-x="30"
                data-y="center"
                data-voffset="0"
                data-transform_idle="o:1;s:800"
                data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;s:1000;"
                data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;"
                data-start="1200">Software Development
              </div>

              <!-- LAYER NR. 5 -->
              <div class="tp-caption small_text"
                data-x="30"
                data-y="center"
                data-voffset="30"
                data-transform_idle="o:1;s:700"
                data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;s:1000;"
                data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;"
                data-start="1300">Website Development
              </div>

              <!-- LAYER NR. 7 -->
              <div class="tp-caption tp-resizeme"
                data-x="30"
                data-y="center"
                data-voffset="100"
                data-hoffset="0" 
                data-transform_idle="o:1;s:600"
                data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;s:1000;"
                data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;"
                data-start="1400"
                style="z-index: 12; max-width: auto; max-height: auto; white-space: nowrap;"><a href='/portfolio' class='btn btn-lg btn-white'>Portfolio</a>
              </div>

              <!-- LAYER NR. 5 -->
              <div class="tp-caption tp-resizeme"
                data-x="204"
                data-y="center"
                data-voffset="100"
                data-hoffset="0"
                data-transform_idle="o:1;s:600"
                data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;s:1000;"
                data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;"
                data-start="1400"
                style="z-index: 13; max-width: auto; max-height: auto; white-space: nowrap;"><a href='/contact' class='btn btn-lg btn-transparent'>Contact</a>
              </div>
            
            </li> <!-- end slide 3 -->

          </ul>

        </div>
      </div>
    </section>