<section class="call-to-action">
    <div class="container">
        <div class="row">

            <div class="col-md-9 col-xs-12">
                <h2>Want to get in touch? Drop me an email!</h2>
            </div>

            <div class="col-md-3 col-xs-12 cta-button">
                <a href="/contact" class="btn btn-lg btn-color">Contact</a>
            </div>

        </div>
    </div>
</section>