<!-- Page Title -->
<section class="page-title style-2">
    <div class="container relative clearfix">
        <div class="title-holder">
            <div class="title-text">
                <h1>{{title}}</h1>
                <ol class="breadcrumb">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li class="active">
                        {{slug}}
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- end page title -->