<section class="action-sec">

	<div class="container">

		<div class="action-box text-center">
			<h2>GET FULL FREE VERSION HERE </h2><a class="btn btn-success" href="http://grafreez.com/394/fitness-website-template/"
			 target="_blank">hello world</a></div>

	</div>

</section>