<div class="card my-4">
    <h5 class="card-header">Topics</h5>
    <div class="card-body">
        <ul class="list-unstyled mb-0">
            <div class="row">
                {{#each this.topics}}
                <div class="col-6">
                    <li>
                        <a href="#">{{this.name}}</a>
                    </li>
                </div>
                {{/each}}
            </div>
        </ul>
    </div>
</div>