<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">

			<div class="" data-api-url="/api/post" data-partial="posts/home-list" data-topics="[1,2]" style="min-height: 500px;"></div>

		</div>
	</div>
</div>