<section class="section-wrap-mp services style-2 pb-40 pb-mdm-50">
    <div class="container">

        <div class="row">
            <div class="col-md-4 service-item">
                <img src="/img/icons/typescript.png" class="home-icon">
                <div class="service-item-box">
                    <h3>Typescript</h3>
                    <p>With 3 years of experience using Typescript, I thoroughly enjoy improving code quality through type saftey.</p>
                </div>
            </div>
            <!-- end service item -->

            <div class="col-md-4 service-item">
                <img src="/img/icons/nodejs.png" class="home-icon">
                <div class="service-item-box">
                    <h3>NodeJS</h3>
                    <p>Ecommerce, analytical data, web crawling, currency tracking, server monitors, CMS, CRM's and more, all built in NodeJS.</p>
                </div>
            </div>
            <!-- end service item -->

            <div class="col-md-4 service-item">
                <img src="/img/icons/rest.png" class="home-icon">
                <div class="service-item-box">
                    <h3>Restful API</h3>
                    <p>Utalising NodeJS, Express & API Doc, I have a passion for producing fast, and stable restful api's</p>
                </div>
            </div>
            <!-- end service item -->

            <div class="col-md-4 service-item">
                <img src="/img/icons/database.png" class="home-icon">
                <div class="service-item-box">
                    <h3>Databases</h3>
                    <p>Almost 10 years of collective experience with MySQL, MariaDB, MSSQL, mongoDB and Oracle OOP DB's.</p>
                </div>
            </div>
            <!-- end service item -->

            <div class="col-md-4 service-item">
                <img src="/img/icons/html.png" class="home-icon">
                <div class="service-item-box">
                    <h3>HTML5 / JavaScript</h3>
                    <p>It's been more than 11 years since I first started writing HTML, CSS and JavaScript, the beginnings of web-dev</p>
                </div>
            </div>
            <!-- end service item -->

            <div class="col-md-4 service-item">
                <img src="/img/icons/testing.png" class="home-icon">
                <div class="service-item-box">
                    <h3>Testing & CI</h3>
                    <p>Continious integration, unit tests, automated load testing, uptime monitoring and error reporting.</p>
                </div>
            </div>
            <!-- end service item -->

        </div>
    </div>
</section>