<div class="row post-view-single-entry">
    <div class="col-sm-12 col-md-7">
        {{this.title}}
        <p class="small">{{this.description}}</p>
    </div>
    <div class="col-sm-12 col-md-5">
        <div class="d-flex justify-content-end">
            <a href="/admin/content/edit-post?post-id={{this.id}}">
                <button class="btn btn-sm mr-2">
                    <i class="far fa-edit"></i> Edit
                </button>
            </a>

            <button class="btn btn-sm mr-2">
                <i class="far fa-eye"></i> View
            </button>
            <button class="btn btn-sm mr-2">
                <i class="far fa-trash-alt"></i> Delete
            </button>
            <button class="btn btn-sm">
                <i class="far fa-clone"></i> Clone
            </button>
        </div>
        <div class="d-flex justify-content-end">
            <p class="small">Unpublished</p>
        </div>
    </div>
</div>