<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Admin Interface</h3>
    </div>

    <ul class="list-unstyled components">

        <li>
            <a href="/admin">Dashboard</a>
        </li>

        <li>
            <a href="#contentSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Content</a>
            <ul class="collapse list-unstyled" id="contentSubMenu">
                <li>
                    <a href="#mediaSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Media</a>
                    <ul class="collapse list-unstyled" id="mediaSubMenu">
                        <li>
                            <a href="#">Upload Media</a>
                        </li>
                        <li>
                            <a href="/admin/content/view-posts">View Media</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#postsSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Posts</a>
                    <ul class="collapse list-unstyled" id="postsSubMenu">
                        <li>
                            <a href="#">New Post</a>
                        </li>
                        <li>
                            <a href="/admin/content/view-posts">View Posts</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pagesSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                    <ul class="collapse list-unstyled" id="pagesSubMenu">
                        <li>
                            <a href="#">New Page</a>
                        </li>
                        <li>
                            <a href="#">View Pages</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>

        <li>
            <a href="#themesSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Themes</a>
            <ul class="collapse list-unstyled" id="themesSubMenu">
                <li>
                    <a href="/admin/themes/all">Installed Themes</a>
                </li>
                <li>
                    <a href="#">New Theme</a>
                </li>
                <li>
                    <a href="#">Theme Editor</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#">Users</a>
        </li>

        <li>
            <a href="#settingsSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Settings</a>
            <ul class="collapse list-unstyled" id="settingsSubMenu">
                <li>
                    <a href="/admin/settings/general">General</a>
                </li>
                <li>
                    <a href="#">Admin Interface</a>
                </li>
                <li>
                    <a href="#">Logs</a>
                </li>
            </ul>
        </li>

    </ul>

    {{!--
    <ul class="list-unstyled CTAs">
        <li>
            <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
        </li>
        <li>
            <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
        </li>
    </ul> --}}
</nav>