<!-- Contact -->
<section class="section-wrap-mp contact" id="contact">
  <div class="container">

    <div class="row">

      <div class="col-md-4">
        <h5>Get in Touch</h5>

        <div class="contact-item">
          <div class="contact-icon">
            <i class="icon icon-Pointer"></i>
          </div>
          <h6>Address</h6>
          <p>United Kingdom,
            <br> West Wales</p>
        </div>
        <!-- end address -->

        <div class="contact-item">
          <div class="contact-icon">
            <i class="icon icon-Phone"></i>
          </div>
          <h6>Call Me</h6>
          <span>Email me to setup a call</span>
        </div>
        <!-- end phone number -->

        <div class="contact-item">
          <div class="contact-icon">
            <i class="icon icon-Mail"></i>
          </div>
          <h6>E-mail</h6>
          <a href="mailto:contact@nicholasmordecai.co.uk">contact@nicholasmordecai.co.uk</a>
        </div>
        <!-- end email -->

      </div>

      <div class="col-md-8">
        <form id="contact-form" action="/api/contact-form/" method="POST">

          <div class="row contact-row">
            <div class="col-md-6 contact-name">
              <input name="name" id="name" type="text" placeholder="Name*" required>
            </div>
            <div class="col-md-6 contact-email">
              <input name="mail" id="mail" type="email" placeholder="E-mail*" required>
            </div>
          </div>

          <input name="subject" id="subject" type="text" placeholder="Subject">
          <textarea name="comment" id="comment" placeholder="Message" required></textarea>
          <input type="submit" class="btn btn-lg btn-color btn-submit" value="Send Message" id="submit-message">
          <div id="msg" class="message"></div>
        </form>
      </div>
      <!-- end col -->

    </div>
  </div>
</section>
<!-- end contact -->