<div class="grid">
    <div class="grid-item">
        <img src="https://picsum.photos/500/300">
    </div>
    <div class="grid-item">
        <img src="https://picsum.photos/500/300">
    </div>
    <div class="grid-item">
        <img src="https://picsum.photos/500/360">
    </div>
    <div class="grid-item">
        <img src="https://picsum.photos/500/390">
    </div>
    <div class="grid-item">
        <img src="https://picsum.photos/500/280">
    </div>
    <div class="grid-item">
        <img src="https://picsum.photos/500/300">
    </div>
    <div class="grid-item">
        <img src="https://picsum.photos/500/300">
    </div>
    <div class="grid-item">
        <img src="https://picsum.photos/500/300">
    </div>
    <div class="grid-item">
        <img src="https://picsum.photos/500/300">
    </div>
    <div class="grid-item">
        <img src="https://picsum.photos/500/360">
    </div>
    <div class="grid-item">
        <img src="https://picsum.photos/500/390">
    </div>
    <div class="grid-item">
        <img src="https://picsum.photos/500/280">
    </div>
    <div class="grid-item">
        <img src="https://picsum.photos/500/300">
    </div>
    <div class="grid-item">
        <img src="https://picsum.photos/500/300">
    </div>
    <div class="grid-item">
        <img src="https://picsum.photos/500/300">
    </div>
    <div class="grid-item">
        <img src="https://picsum.photos/500/300">
    </div>
    <div class="grid-item">
        <img src="https://picsum.photos/500/360">
    </div>
    <div class="grid-item">
        <img src="https://picsum.photos/500/390">
    </div>
    <div class="grid-item">
        <img src="https://picsum.photos/500/280">
    </div>
    <div class="grid-item">
        <img src="https://picsum.photos/500/300">
    </div>
    <div class="grid-item">
        <img src="https://picsum.photos/500/300">
    </div>
</div>

<script>
    window.onload = function () {
        $('.grid').masonry({
            // options
            itemSelector: '.grid-item',
            columnWidth: 500
        });
    };
</script>

<style>
    .grid {
        margin: 0 auto;
    }
</style>