<div class="row">
    <div class="col-sm-12 col-md-3">
        <nav class="nav flex-column">
            <!-- folder tree for layouts -->
            <a class="nav-link" data-toggle="collapse" data-target="#baseLayout" href="#">
                <i class="far fa-folder"></i> Layouts <i class="fas fa-caret-down"></i>
            </a>
            <div class="collapse" id="baseLayout">
                {{{this.structure.layouts}}}
            </div>

            <!-- folder tree for templates -->
            <a class="nav-link" data-toggle="collapse" data-target="#baseTemplate" href="#">
                <i class="far fa-folder"></i> Templates <i class="fas fa-caret-down"></i>
            </a>
            <div class="collapse" id="baseTemplate">
                {{{this.structure.templates}}}
            </div>

            <!-- folder tree for partials -->
            <a class="nav-link" data-toggle="collapse" data-target="#basePartials" href="#">
                <i class="far fa-folder"></i> Partials <i class="fas fa-caret-down"></i>
            </a>
            <div class="collapse" id="basePartials">
                {{{this.structure.partials}}}
            </div>

            <!-- folder tree for sass -->
            <a class="nav-link" data-toggle="collapse" data-target="#baseSass" href="#">
                <i class="far fa-folder"></i> SASS <i class="fas fa-caret-down"></i>
            </a>
            <div class="collapse" id="baseSass">
                {{{this.structure.sass}}}
            </div>
        </nav>
    </div>
    <div class="col-sm-12 col-md-9">
        <div id="toolbar"></div>
        <div id="editor">
            
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        var quill = new Quill('#editor', {
            modules: {
                toolbar: true
            },
            theme: 'snow'
        });

        $('.file-item').click((e) => {
            let element = e.target;
            let path = $(element).data('path');
            $.get('/api/read-file?file=' + path, (fileContents) => {
                quill.setText(fileContents);
            });
        });
    });
</script>