<div class="row">
    <div class="col-12">
        <div id="toolbar"></div>
        <div id="editor">
            <p>Hello World!</p>
            <p>Some initial <strong>bold</strong> text</p>
            <p><br></p>
        </div>
    </div>

</div>

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        var quill = new Quill('#editor', {
            modules: {
                toolbar: true
            },
            theme: 'snow'
        });
    });
</script>