<div class="row">
    <div class="col-12 text-right" id="post-actions">
        <button type="submit" class="btn btn-success mb-2 float-left" id="btn-new" disabled>New File</button>
        <button type="submit" class="btn btn-primary mb-2" id="btn-save">Save</button>
        <button type="submit" class="btn btn-danger mb-2" id="btn-delete">Delete</button>
        <hr>
    </div>
    <div class="col-sm-12 col-md-3">
        <nav class="nav flex-column">
            <!-- folder tree for layouts -->
            <a class="nav-link" data-toggle="collapse" data-target="#baseLayout" href="#">
                <i class="far fa-folder"></i> Layouts <i class="fas fa-caret-down"></i>
            </a>
            <div class="collapse" id="baseLayout">
                {{{this.structure.layouts}}}
                <a class="nav-link tree file-item" href="#"><i class="fas fa-plus"></i> Add File</a>
            </div>

            <!-- folder tree for templates -->
            <a class="nav-link" data-toggle="collapse" data-target="#baseTemplate" href="#">
                <i class="far fa-folder"></i> Templates <i class="fas fa-caret-down"></i>
            </a>
            <div class="collapse" id="baseTemplate">
                {{{this.structure.templates}}}
                <a class="nav-link tree file-item" href="#"><i class="fas fa-plus"></i> Add File</a>
            </div>

            <!-- folder tree for partials -->
            <a class="nav-link" data-toggle="collapse" data-target="#basePartials" href="#">
                <i class="far fa-folder"></i> Partials <i class="fas fa-caret-down"></i>
            </a>
            <div class="collapse" id="basePartials">
                {{{this.structure.partials}}}
                <a class="nav-link tree file-item" href="#"><i class="fas fa-plus"></i> Add File</a>
            </div>

            <!-- folder tree for sass -->
            <a class="nav-link" data-toggle="collapse" data-target="#baseSass" href="#">
                <i class="far fa-folder"></i> SASS <i class="fas fa-caret-down"></i>
            </a>
            <div class="collapse" id="baseSass">
                {{{this.structure.sass}}}
                <a class="nav-link tree file-item" href="#"><i class="fas fa-plus"></i> Add File</a>
            </div>
        </nav>
    </div>
    <div class="col-sm-12 col-md-9">
        <div id="toolbar"></div>
        <div id="editor">

        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        new window.wbc.ThemeEditor();
    });
</script>