<div class="card">
    <h5 class="card-header">About The Author</h5>
    <div class="card-body text-center">
        <img src="{{post.author_profile}}" class="about-author-avatar">
        <hr>
        <strong>{{post.author_name}}</strong>
    </div>
</div>