<div class="card">
    <a href="{{this.slug}}"><img class="card-img-top img-fluid" src="//placehold.it/800x560" alt="Card image cap"></a>
    <div class="card-body">
        <a href="{{this.slug}}"><h4 class="card-title">{{this.title}}</h4></a>
        <p class="card-text">{{this.description}}</p>
    </div>
</div>