<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Admin Interface</h3>
    </div>

    <ul class="list-unstyled components">

        <li>
            <a href="/admin">Dashboard</a>
        </li>

        <li>
            <a href="#contentSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Content</a>
            <ul class="collapse list-unstyled" id="contentSubMenu">
                <li>
                    <a href="/admin/content/media">Media</a>
                </li>
                <li>
                    <a href="/admin/content/posts">Posts</a>
                </li>
                <li>
                    <a href="/admin/content/pages">Pages</a>
                </li>
                <li>
                    <a href="/admin/content/menus">Menus</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#themesSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Themes</a>
            <ul class="collapse list-unstyled" id="themesSubMenu">
                <li>
                    <a href="/admin/themes/all">Installed Themes</a>
                </li>
                <li>
                    <a href="#">New Theme</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="/admin/users">Users</a>
        </li>

        <li>
            <a href="#settingsSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Settings</a>
            <ul class="collapse list-unstyled" id="settingsSubMenu">
                <li>
                    <a href="/admin/settings/general">General</a>
                </li>
                <li>
                    <a href="/admin/settings/logs">Logs</a>
                </li>
                <li>
                    <a href="/admin/settings/stats">Server Status</a>
                </li>
            </ul>
        </li>

    </ul>


    <ul class="list-unstyled CTAs">
        <li>
            <a href="#" class="download" target="_blank">Documentation</a>
        </li>
        <li>
            <a href="https://github.com/megmut/blog-platform" class="article" target="_blank">Github</a>
        </li>
    </ul>
</nav>