<section class="related-projects pb-90">
  <div class="container">
    <h4 class="heading-inline">Recent Works</h4>
    <div class="customNavigation right">
      <a class="btn prev">
        <i class="fa fa-angle-left"></i>
      </a>
      <a class="btn next">
        <i class="fa fa-angle-right"></i>
      </a>
    </div>
    <div class="row mt-20">

      <div id="owl-related-works" class="owl-carousel owl-theme" style="opacity: 1; display: block;">

        <div class="owl-wrapper-outer">
          <div class="owl-wrapper" style="width: 3120px; left: 0px; display: block;">
            <div class="owl-item" style="width: 390px;">
              <div class="work-item mockups branding">
                <div class="work-container">
                  <div class="work-img">
                    <img src="https://picsum.photos/768/624" alt="">
                    <div class="portfolio-overlay">
                      <div class="project-icons">
                        <a href="img/project_5_big.jpg" class="lightbox-gallery" title="Cup Mockup">
                          <i class="fa fa-search"></i>
                        </a>
                        <a href="portfolio-single.html" class="project-icon">
                          <i class="fa fa-link"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="work-description">
                    <h3>
                      <a href="#">Cup Mockup</a>
                    </h3>
                    <span>
                      <a href="#">Branding</a>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item" style="width: 390px;">
              <div class="work-item branding print">
                <div class="work-container">
                  <div class="work-img">
                    <img src="https://picsum.photos/768/624" alt="">
                    <div class="portfolio-overlay">
                      <div class="project-icons">
                        <a href="http://vimeo.com/19270640" class="lightbox-gallery mfp-iframe">
                          <i class="fa fa-search"></i>
                        </a>
                        <a href="portfolio-single.html" class="project-icon">
                          <i class="fa fa-link"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="work-description">
                    <h3>
                      <a href="#">Vimeo Lightbox</a>
                    </h3>
                    <span>
                      <a href="#">Branding</a>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item" style="width: 390px;">
              <div class="work-item branding">
                <div class="work-container">
                  <div class="work-img">
                    <img src="https://picsum.photos/768/623" alt="">
                    <div class="portfolio-overlay">
                      <div class="project-icons">
                        <a href="https://www.youtube.com/watch?v=Scxs7L0vhZ4?autoplay=1" class="lightbox-gallery mfp-iframe">
                          <i class="fa fa-search"></i>
                        </a>
                        <a href="portfolio-single.html" class="project-icon">
                          <i class="fa fa-link"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="work-description">
                    <h3>
                      <a href="#">Youtube Lightbox</a>
                    </h3>
                    <span>
                      <a href="#">Branding</a>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item" style="width: 390px;">
              <div class="work-item print mockups">
                <div class="work-container">
                  <div class="work-img">
                    <img src="https://picsum.photos/768/624" alt="">
                    <div class="portfolio-overlay">
                      <div class="project-icons">
                        <a href="img/project_4_big.jpg" class="lightbox-gallery" title="Brod Identity">
                          <i class="fa fa-search"></i>
                        </a>
                        <a href="portfolio-single.html" class="project-icon">
                          <i class="fa fa-link"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="work-description">
                    <h3>
                      <a href="#">Brod Identity</a>
                    </h3>
                    <span>
                      <a href="#">Branding</a>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end work-item -->

        <!-- end work-item -->

        <!-- end work-item -->

        <!-- end work-item -->

      </div>
      <!-- end owl carousel-->
    </div>
  </div>
</section>