<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="site-name">Site Name</label>
            <input type="text" class="form-control" id="site-name" placeholder="myawesomeblog.com">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="site-name">Site Tag Line</label>
            <input type="text" class="form-control" id="site-tag-line" placeholder="The place to go to read the best blog in the world!">
        </div>
    </div>

    <hr>


</form>