<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">URL</th>
            <th scope="col">Points To</th>
            <th scope="col">Created At</th>
            <th scope="col">Active</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">/401/</th>
            <td>/error/401/</td>
            <td>21 March 2018</td>
            <td>True</td>
        </tr>
        <tr>
            <th scope="row">/403/</th>
            <td>/error/403/</td>
            <td>21 March 2018</td>
            <td>True</td>
        </tr>
        <tr>
            <th scope="row">/404/</th>
            <td>/error/404/</td>
            <td>21 March 2018</td>
            <td>True</td>
        </tr>
        <tr>
            <th scope="row">/500/</th>
            <td>/error/500/</td>
            <td>21 March 2018</td>
            <td>True</td>
        </tr>
        <tr>
            <th scope="row"> + </th>
        </tr>
    </tbody>
</table>
