<!-- About us / Progress Bars -->
<section class="section-wrap-mp">
    <div class="container">
        <div class="row mt-minus-30">

            <div class="col-sm-6">
                <div class="about-description mt-30">
                    <h4>My Story</h4>
                    <p>Our web design team will spend time with our digital marketing team to ensure the core principles of
                        effective websites and development.</p>
                    <p>We want to tell your brand’s story with quality content that will help you inspire your audience, build
                        meaningful connections and grow your success. Different marketing goals mean different content tools.</p>
                </div>
            </div>
            <!-- end col -->

            <div class="col-sm-6">
                <div class="circle-avatar" style="background-image:url(http://placehold.it/350x350)"></div>
            </div>
            <!-- end col -->

        </div>
    </div>
</section>
<!-- end progress bars -->


{{> about/map}}
