<!-- About us / Progress Bars -->
<section class="section-wrap-mp">
    <div class="container">
        <div class="row mt-minus-30">

            <div class="col-sm-6">
                <div class="about-description mt-30">
                    <h4>My Story</h4>
                    <p>I've grown up around computers, games and generally most things nerdy and most things to do with tech.
                        Started programming and building hardware when I was around 14.</p>
                    <p>Graduated University with a degree in computer science and have been persuing that ever since. I've always
                        got a project on the go, or trying to learn a new framework. I keep myself busy when I'm not at the
                        comuter with surfing, photography, acoustic guitar, travelling and a fair few other hobbies.
                    </p>
                    <p>
                        Currently reading: ARMADA - Ernest Cline
                    </p>
                </div>
            </div>
            <!-- end col -->

            <div class="col-sm-6">
                <div class="circle-avatar" style="background-image:url(/img/about/profile1.jpg)"></div>
            </div>
        </div>
    </div>
</section>

<section class="section-wrap-mp">
    <div class="container">
        <div class="row mt-minus-30">

            <div class="col-sm-12">
                <div class="about-description mt-30">
                    <h4 style="margin-bottom: 8rem;">My hobies</h4>
                    <div class="col-md-3 col-xs-12 cta-button text-center">
                        <a href="/about/coding" class="btn btn-lg btn-color">Coding</a>
                    </div>

                    <div class="col-md-3 col-xs-12 cta-button text-center">
                        <a href="/about/music" class="btn btn-lg btn-color">Music</a>
                    </div>

                    <div class="col-md-3 col-xs-12 cta-button text-center">
                        <a href="/about/photography" class="btn btn-lg btn-color">Photography</a>
                    </div>

                    <div class="col-md-3 col-xs-12 cta-button text-center">
                        <a href="/about/travels" class="btn btn-lg btn-color">Travels</a>
                    </div>
                </div>
            </div>        

        </div>
    </div>
</section>