<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3">
            <iframe src="https://open.spotify.com/embed/track/6fMbVmWa3NtgDglCs71aZ9" width="100%" height="300px" frameborder="0" allowtransparency="true"
                allow="encrypted-media"></iframe>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3">
            <iframe src="https://open.spotify.com/embed/track/0UJ9bjkz15twHDkM3N7CEr" width="100%" height="300px" frameborder="0" allowtransparency="true"
                allow="encrypted-media"></iframe>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3">
            <iframe src="https://open.spotify.com/embed/track/3cj6ymzaWA6dxXHhKcQ3fd" width="100%" height="300px" frameborder="0" allowtransparency="true"
                allow="encrypted-media"></iframe>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3">
            <iframe src="https://open.spotify.com/embed/track/5VUcWrszgszzJFltlgWRV5" width="100%" height="300px" frameborder="0" allowtransparency="true"
                allow="encrypted-media"></iframe>
        </div>
    </div>
</div>