<div class="container">
    <div class="row">

        <div class="col-md-8">
            <div id="owl-slider-one-img" class="owl-carousel owl-theme oh" style="opacity: 1; display: block;">

                <div class="owl-wrapper-outer autoHeight" style="height: 609px;">
                    <div class="owl-wrapper" style="width: 4500px; left: 0px; display: block; transition: all 0ms ease; transform: translate3d(0px, 0px, 0px); transform-origin: 375px center 0px; perspective-origin: 375px center;">
                        <div class="owl-item" style="width: 750px;">
                            <div class="item">
                                <a href="#">
                                    <img src="img/project_1.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 750px;">
                            <div class="item">
                                <a href="#">
                                    <img src="img/project_2.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 750px;">
                            <div class="item">
                                <a href="#">
                                    <img src="img/project_3.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>





                <div class="owl-controls clickable">
                    <div class="owl-pagination">
                        <div class="owl-page active">
                            <span class=""></span>
                        </div>
                        <div class="owl-page">
                            <span class=""></span>
                        </div>
                        <div class="owl-page">
                            <span class=""></span>
                        </div>
                    </div>
                    <div class="owl-buttons">
                        <div class="owl-prev">
                            <i class="fa fa-angle-left"></i>
                        </div>
                        <div class="owl-next">
                            <i class="fa fa-angle-right"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end owl carousel -->
        </div>
        <!-- end slider -->

        <div class="col-md-4">
            <div class="portfolio-description">
                <h2>Fashion Magazines</h2>
                <p>We further know that the subconscious has recorded every event that has ever happened to us. Every incident
                    in our personal history is recorded within, along with the emotions and thoughts evoked by those incidents.</p>
                <ul>
                    <li>
                        <span>Date:</span> 15 May, 2015</li>
                    <li>
                        <span>Category:</span>
                        <a href="#"> Mockups</a>
                    </li>
                    <li>
                        <span>Client:</span>
                        <a href="#"> Envato</a>
                    </li>
                </ul>
                <a href="#" class="btn btn-sm btn-dark">View Project</a>
                <div class="entry-share clearfix">
                    <h6>Share:</h6>
                    <div class="socials">
                        <a href="#">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-google-plus"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-pinterest-p"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end description -->

    </div>
</div>

<section class="related-projects pb-90">
    <div class="container">
        <h4 class="heading-inline">Recent Works</h4>
        <div class="customNavigation right">
            <a class="btn prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="btn next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
        <div class="row mt-20">

            <div id="owl-related-works" class="owl-carousel owl-theme" style="opacity: 1; display: block;">

                <div class="owl-wrapper-outer">
                    <div class="owl-wrapper" style="width: 3120px; left: 0px; display: block; transition: all 0ms ease; transform: translate3d(0px, 0px, 0px);">
                        <div class="owl-item" style="width: 390px;">
                            <div class="work-item mockups branding">
                                <div class="work-container">
                                    <div class="work-img">
                                        <img src="img/project_5.jpg" alt="">
                                        <div class="portfolio-overlay">
                                            <div class="project-icons">
                                                <a href="img/project_5_big.jpg" class="lightbox-gallery" title="Cup Mockup">
                                                    <i class="fa fa-search"></i>
                                                </a>
                                                <a href="portfolio-single.html" class="project-icon">
                                                    <i class="fa fa-link"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="work-description">
                                        <h3>
                                            <a href="#">Cup Mockup</a>
                                        </h3>
                                        <span>
                                            <a href="#">Branding</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 390px;">
                            <div class="work-item branding print">
                                <div class="work-container">
                                    <div class="work-img">
                                        <img src="img/project_2.jpg" alt="">
                                        <div class="portfolio-overlay">
                                            <div class="project-icons">
                                                <a href="http://vimeo.com/19270640" class="lightbox-gallery mfp-iframe">
                                                    <i class="fa fa-search"></i>
                                                </a>
                                                <a href="portfolio-single.html" class="project-icon">
                                                    <i class="fa fa-link"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="work-description">
                                        <h3>
                                            <a href="#">Vimeo Lightbox</a>
                                        </h3>
                                        <span>
                                            <a href="#">Branding</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 390px;">
                            <div class="work-item branding">
                                <div class="work-container">
                                    <div class="work-img">
                                        <img src="img/project_3.jpg" alt="">
                                        <div class="portfolio-overlay">
                                            <div class="project-icons">
                                                <a href="https://www.youtube.com/watch?v=Scxs7L0vhZ4?autoplay=1" class="lightbox-gallery mfp-iframe">
                                                    <i class="fa fa-search"></i>
                                                </a>
                                                <a href="portfolio-single.html" class="project-icon">
                                                    <i class="fa fa-link"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="work-description">
                                        <h3>
                                            <a href="#">Youtube Lightbox</a>
                                        </h3>
                                        <span>
                                            <a href="#">Branding</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 390px;">
                            <div class="work-item print mockups">
                                <div class="work-container">
                                    <div class="work-img">
                                        <img src="img/project_4.jpg" alt="">
                                        <div class="portfolio-overlay">
                                            <div class="project-icons">
                                                <a href="img/project_4_big.jpg" class="lightbox-gallery" title="Brod Identity">
                                                    <i class="fa fa-search"></i>
                                                </a>
                                                <a href="portfolio-single.html" class="project-icon">
                                                    <i class="fa fa-link"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="work-description">
                                        <h3>
                                            <a href="#">Brod Identity</a>
                                        </h3>
                                        <span>
                                            <a href="#">Branding</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end work-item -->

                <!-- end work-item -->

                <!-- end work-item -->

                <!-- end work-item -->

            </div>
            <!-- end owl carousel-->
        </div>
    </div>
</section>