<section class="section-wrap call-to-action style-2" style="  background:linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(img/banner-2.jpg); background-size:cover; background-attachment: fixed;">
    <div class="container text-center">
        <div class="row">

            <div class="col-xs-12">
                <h2>Want to see what technologies I've used?</h2>
                <a href="/technologies" class="btn btn-lg btn-transparent">Technologies</a>
            </div>

        </div>
    </div>
</section>