<section class="section-wrap call-to-action style-2" style="  background:linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(img/banner-3.jpg); background-size:cover; background-attachment: fixed;">
    <div class="container text-center">
        <div class="row">

            <div class="col-xs-12">
                <h2>Want to see more of my portfolio?</h2>
                <a href="/portfolio" class="btn btn-lg btn-transparent">Portfolio</a>
                <a href="/resume" class="btn btn-lg btn-white">Resume</a>
            </div>

        </div>
    </div>
</section>