<!-- Footer Type-2 -->
<footer class="footer footer-type-2 bg-dark">
  <div class="bottom-footer">
    <div class="container">
      <div class="row" style="text-align: center;">
        <div class="col-sm-12 col-xs-12 footer-socials">
          <span id="email-copy-result" style="position: absolute; left: 42%; top: -70%; display: none;">Email address coppied to clipboard!</span>
          <div class="social-icons">
            <a href="https://https://facebook.com/nmordecai1" target="_blank">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="https://www.linkedin.com/in/nicholas-mordecai-4a6655b2/" target="_blank">
              <i class="fa fa-linkedin"></i>
            </a>
            <a href="https://github.com/megmut" target="_blank">
              <i class="fa fa-github"></i>
            </a>
            <a href="/contact">
              <i class="fa fa-envelope"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end bottom footer -->
</footer>
<!-- end footer -->

<script>

</script>