<div class="row">
    <div class="col-sm-12 col-md-6 pl-4">
        <h3>Dashboard</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card">
            <div class="card-header text-center">
                Top Trending Posts
            </div>
            <div class="card-body">
                <canvas id="top-posts" style="height:30vh; width:100%"></canvas>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card">
            <div class="card-header text-center">
                Post Overview
            </div>
            <div class="card-body">
                <canvas id="post-overview" class="chartjs-render-monitor" style="height:30vh; width:100%"></canvas>
            </div>
        </div>

    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card">
            <div class="card-header text-center">
                Traffic Quick Look
            </div>
            <div class="card-body">
                <canvas id="traffic-quick-look" class="chartjs-render-monitor" style="height:30vh; width:100%"></canvas>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        new window.wbc.DashbordView();
    });
</script>