<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card">
            <div class="card-body">
                <div id="test-chart"></div>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
        column 2
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
        column 3
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        new window.wbc.DashbordView();
    });
</script>