<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4">
        column 1
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
        column 2
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
        column 3
    </div>
</div>