<div class="row">
    <div class="col-12 mb-4">
        <button type="button" class="btn btn-primary mr-2">Create New Theme</button>
        <button type="button" class="btn btn-primary">Install Theme From Zip</button>
    </div>
    {{#each data.themes}}
        {{> theme-thumbnail}}
    {{/each}}
</div>